<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular Prototype Lab</title>
  <base href="/">

  <!-- Bootstrap CDN -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Bower Components -->
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>

  <!-- App JS -->
  <script src="app.js"></script>
  <script src="data.js"></script>

    <!-- CSS -->
  <link href="css/main.css" rel="stylesheet" />

</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div ng-view >
        <div class="main" ng-controller="ResourceController">      
              <h3 class="label">Sort by </h3>
              <select ng-model="selectedOrder" ng-options="option for option in options"></select>
              &nbsp;
                 <!-- toggle create ootd form -->
                <button ng-init="ootdFormVisible=false" ng-click="ootdFormVisible=!ootdFormVisible">Add a new OOTD</button>
                <hr>

                <!-- create ootd -->
                <form ng-submit="createOOTD()" ng-show="ootdFormVisible">
                  <div class="form-group">
                    <input type="User" ng-model="newOOTD.user" class="form-control" placeholder="User" autofocus>
                  </div>
                  <div class="form-group">
                    <input type="text" ng-model="newOOTD.title" class="form-control" placeholder="Title">
                  </div>
                  <div class="form-group">
                    <input type="text" ng-model="newOOTD.image" class="form-control" placeholder="Image">
                  </div>
                  <div class="form-group">
                    <input type="text" ng-model="newOOTD.icon" class="form-control" placeholder="Icon">
                  </div>
                  <input type="submit" value="Save OOTD" class="btn btn-default">
                </form>


              <div class="container">
                  <h1 class="header">#OOTD Gallery</h1>
              
           

                <div ng-repeat="ootd in ootds | orderBy:selectedOrder" class="col-md-6"> 

                  <div class="thumbnail"> 
                    <img ng-src="{{ ootd.image }}" > 
                    <p class="title">{{ ootd.user }}</p> 
                     <p class="title">{{ ootd.title }}</p>
                     <img class="icon" ng-src="{{ ootd.icon }}" > 
                    <p class="date">{{ ootd.pubdate }}</p> 
                    <div class="rating">
                      <p class="likes" ng-click="count = count +1" ng-init="count=0">+ {{ count }}  </p>
                      
                    </div>
                  </div> 
                </div>

              </div>

         </div>
               

        </div>
      </div>
    </div>
  </div>     
</body>
</html>